@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
      90deg,
      rgba(141, 194, 111, 1) 0%,
      rgba(118, 184, 82, 1) 50%
    );
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
  }

  h3{
    font-weight: 300;
  }

  .wrapper{
      max-width: 1000px;
      min-height: 100vh;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(201, 201, 201, 0.1);
    }

/* global component */
input, select{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border-radius: 5px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}

input:focus::placeholder {
    color:transparent
}
button {
    width: fit-content;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border-radius: 5px;
    background: #4caf50;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: 700;   
    margin-top: 5px;
}

button:hover{
    opacity: 0.8;
}

.section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
  height: 50px;
}

.page-selector{
    display: flex;
    margin-left: 50px;
    gap: 50px;
}

.header button{
    border: none;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
    color:rgb(224, 221, 221);
    cursor: pointer;
}

.header .selected{
    transform: scale(1.2);
    color: white;
}

.header button:hover{
    transform: scale(1.2);
    color: white;
    transition: ease-in-out 0.2s;
}

/* wrapper */


/*login page  */

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.login-form ,
.use-ticket-value form{
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  border-radius: 5px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border-radius: 5px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border-radius: 5px;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form button:hover,
.login-form button:active,
.login-form button:focus {
  background: #43a047;
}

.danger{
    font-size: 14px;
    margin-top: 10px;
    color: red;
}

.waiting{
    font-size: 14px;
    margin-top: 10px;
    color: green;
}

/* search ticket */

.search-ticket{
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;
    gap: 10px;
}

.search-form input{
    margin-right: 10px;
    margin-bottom: 0;
}

.search-result>div{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255,0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.search-result input{
    margin: 0;
    padding: 5px 10px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;

    
}

.option{
    color:#ffffff;
    margin-top: 10px;
}

.option label{
    margin-right: 20px;
    cursor: pointer;
}
.option input{
    cursor: pointer;
}
.ticket-id{
    grid-column: 1/3;
}

.ticket-owner{

}

.ticket-value{

}

.ticket-date{

}

.use-history{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-btns{
    grid-column: 1/3;
}

.use-ticket{

}

.use-ticket{

}
/* create ticket */

.create-ticket {
    padding: 40px;
}

.ticket-infor-form{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255,0.2);
    padding: 20px;
    border-radius: 10px;
}

.create-ticket #create-ticket{
    grid-column: 1/3;
}

.create-ticket .option{
    grid-column: 1/3;
}

/* modal */
.use-ticket-value {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent;
    /* z-index: 1; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.use-ticket-value form{
    z-index: 9999;
}
.use-ticket-value button{
    padding: 5px 25px;
}

.use-ticket-value .cancel{
    background: rgba(255, 0, 0, 0.658);
}
.use-ticket-value #note{
    width: 100%;
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255,0.5);
    z-index: 999;
}

.hidden{
    display: none;
}

.out-date{
    opacity: 0.6;
    user-select: none;
}

.out-date input{
    pointer-events:none;
}